{% extends 'base.html' %}
{% block body %}
{% with messages = get_flashed_messages(with_categories=true) %}
{% if messages %}
    <div>
        {% for category, message in messages %}
            <div class="alert alert-{{ category }} mt-4">
                {{ message }}
            </div>
        {% endfor %}
    </div>
{% endif %}
{% endwith %}
<div class="container mt-5">
    <div class="text-center mb-4">
      <svg xmlns="http://www.w3.org/2000/svg" width="80" height="80" fill="currentColor" class="bi bi-cart mb-3" viewBox="0 0 18 18">
        <path d="M0 1.5A.5.5 0 0 1 .5 1H2a.5.5 0 0 1 .485.379L2.89 3H14.5a.5.5 0 0 1 .491.592l-1.5 8A.5.5 0 0 1 13 12H4a.5.5 0 0 1-.491-.408L2.01 3.607 1.61 2H.5a.5.5 0 0 1-.5-.5M3.102 4l1.313 7h8.17l1.313-7zM5 12a2 2 0 1 0 0 4 2 2 0 0 0 0-4m7 0a2 2 0 1 0 0 4 2 2 0 0 0 0-4m-7 1a1 1 0 1 1 0 2 1 1 0 0 1 0-2m7 0a1 1 0 1 1 0 2 1 1 0 0 1 0-2"></path>
        <path d="M9.5 6.5a1.5 1.5 0 0 1-1 1.415l.385 1.99a.5.5 0 0 1-.491.595h-.788a.5.5 0 0 1-.49-.595l.384-1.99a1.5 1.5 0 1 1 2-1.415"></path>
      </svg>
      <h2 class="text-center mb-4">Login</h2>
    </div>
    <div class="row justify-content-center">
      <div class="col-md-4">
        <form action="/login" method="post">
          <input type="hidden" name="csrf_token" value="{{ csrf_token() }}"> <!-- ADDED FOR CSRF -->
          <div class="form-group">
            <label for="email">Email</label>
            <input type="email" class="form-control" name="email" id="email" placeholder="Enter your email" required>
          </div>
          <div class="form-group">
            <label for="password">Password</label>
            <input type="password" class="form-control" name="password" id="password" placeholder="Enter your password" required>
          </div>
          <button type="submit" class="btn btn-primary btn-block">Login</button>
          <p class="text-center mt-3">
            <small>Don't have an account? <a href="/registeration">Register here</a></small>
          </p>
        </form>
      </div>
    </div>
</div> 
{% endblock %}

