# Python
__pycache__/
*.py[cod]
.venv/
venv/
env/

# Jupyter
.ipynb_checkpoints/

# Local dataset files
CSVs/
data/

# Local model artefacts
models/*.joblib
models/*.npy

# OS/editor files
.DS_Store
.vscode/
.idea/
